.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 4% 0 8% 0; 
    background-image: url('../assets/construction_background.png');
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
    margin-top: 30px;
  }
  
  .navbar-logo {
    max-width: 500px; 
    height: auto;
    background-color: transparent; 
  }
  
  @media (max-width: 768px) {
    .logo-container {
      margin-top: 30px; 
    }
    .navbar-logo {
      width: 300px; 
    }
  }
  
  @media (max-width: 480px) {
    .logo-container {
      margin-top: 30px; 
    }
    .navbar-logo {
      width: 200px; 
    }
  }