/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between logo, links, and burger */
  align-items: center; /* Vertically align items */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #022A2B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px;
  height: 30px;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0 auto; /* Center align the links */
  padding: 0;
  overflow: hidden;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #D9D9D9;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #599595;
}

.nav-link:hover {
  color: #599595;
}

/* Burger Button */
.burger-button {
  display: none; /* Initially hidden */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #599595;
  border-radius: 2px;
}

.navbar-page-name {
  color: #D9D9D9;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    height: 20px; /* Smaller height for mobile */
  }

  .burger-button {
    display: flex; /* Show burger on small screens */
    margin-left: auto;
    margin-right: 8%;
  }

  .navbar-links {
    display: none; /* Hide links by default */
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #d9d9d9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    
  }

  .nav-link {
    color: #022A2B;
  }

  .nav-link.active {
    color: #599595;
  }
  
  .nav-link:hover {
    color: #599595;
  }

  .navbar-links.open {
    display: flex; /* Show links when burger is toggled */
    
  }

  .nav-item {
    margin: 10px 0; /* Adjust spacing for vertical layout */
    margin-left: auto;
    margin-right: 8%;
    color: #D9D9D9;
  }

  .navbar-page-name {
    font-size: 16px; /* Slightly smaller on mobile */
  }
}
