.team-member {
  position: relative;
  width: 150px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.team-member-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.team-member-info {
  margin-top: 10px;
  color: #022A2B;
  font-size: 1rem; 
}

.team-member-info h3 {
  margin: 5px 0;
  font-size: 1.1rem; 
  font-weight: bold;
}

.team-member-info p {
  margin: 0;
  font-size: 0.9rem; 
  color: #599595; 
  font-weight: bold;
}

.team-member-details {
  margin-top: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.team-member.active .team-member-details {
  max-height: 100px;
  padding: 10px;
}
