#particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.content {
    position: relative; /* Ensures it's above the particles */
    z-index: 1; /* Higher than the particles */
  }
  